---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$sans-serif: Georgia, serif;

/* type scale */
$type-size-1: 2.441em !default;
$type-size-2: 1.953em !default;
$type-size-3: 1.563em !default;
$type-size-4: 1.25em !default;
$type-size-5: 1.1em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.8em !default;
$type-size-8: 0.625em !default;

/* headline scale */
$h-size-1: 1.563em !default;
$h-size-2: 1.25em !default;
$h-size-3: 1.125em !default;
$h-size-4: 1.0625em !default;
$h-size-5: 1.03125em !default;
$h-size-6: 1em !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "vendor/font-awesome/fontawesome";


html {
    font-size: $type-size-5; // change to whatever
  
    // @include breakpoint($medium) {
    //   font-size: $type-size-4; // change to whatever
    // }
  
    // @include breakpoint($large) {
    //   font-size: $type-size-4; // change to whatever
    // }
  
    // @include breakpoint($x-large) {
    //   font-size: $type-size-4; // change to whatever
    // }
  }

td {
    font-size: $type-size-4;
}

table.imgtable, table.imgtable td {
    border: none;
    text-align: left;
}
